[
    {snatch, [
        {modules, [
            {snatch, config},
            {claws_xmpp, xmpp}
        ]},
        {config, [claws_xmpp, snatch_php, [{file, "echobot.php"}]]},
        {xmpp, [#{host => "localhost",
                  port => 5222,
                  user => <<"echobot">>,
                  domain => <<"localhost">>,
                  password => <<"echobot">>,
                  resource => <<"echo1">>,
                  auto_connect => true}]}
    ]}
].
